.findTherapistBox {
    position: absolute;
    width: 280px;
    height: 49px;
    left: 102px;
    top: 156px;
    background: #29C9BF;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 0px;
    text-align: center;
    color: #F3FFFF;
  }

   #state{
    position: absolute;
    width: 370px;
    height: 96px;
    left: 120px;
    top: 271px;
    background: #29C9BF;
  }
  
  

  .stateBox {
    position: absolute;
    width: 780px;
    height: 50px;
    left: 400px;
    top: 156px;
    background: #f0f0f1;
  }
 
  .searchBox {
    position: absolute;
    width: 95px;
    height: 50px;
    left: 1089px;
    top: 156px;
    text-align: center;
    line-height: 8px;
    font-size: x-large;
    background: #29C9BF;
  }

  .placeholder { 
    background: #f0f0f1;
    color: #29C9BF;
    width: 600px;
    height: 48px;
    position: absolute;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    border: #f0f0f1;

  }
    color: #29C9BF;

  }

    
