@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.findTherapistBox {
  position: absolute;
  width: 350px;
  height: 50px;
  left: 170px;
  top: 156px;
  background: #29C9BF;


  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 0px;
  text-align: center;
  color: #F3FFFF;
}

 #state{
  position: absolute;
  width: 370px;
  height: 96px;
  left: 120px;
  top: 271px;
  background: #29C9BF;
}
.Heading{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

.links{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


.stateBox {
  position: absolute;
  width: 780px;
  height: 50px;
  left: 500px;
  top: 156px;
  background: #f0f0f1;
}

.searchBox {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  width: 95px;
  height: 50px;
  left: 1280px;
  top: 156px;
  text-align: center;
  line-height: 8px;
  font-size: 30px;
  background: #29C9BF;
}

.placeholder { 
  font-family: 'Roboto', sans-serif;
  background: #f0f0f1;
  color: #29C9BF;
  width: 700px;
  height: 50px;
  position: absolute;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  border: #f0f0f1;

}

.table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 100%
  
}
.th {
  text-align: center;
  border: black;
  color: black;
  font-size: 30px;
}
.th, .td {
  height: 50px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  
}
.hover {
  background-color: gainsboro;
}
.nth {
  background-color: #f2f2f2;
}
