@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$accent: #000000;
// $accent: #29C9BF;
$font: "Source Sans Pro", sans-serif;

.findTherapistBox {
  background: $accent;
  display:inline-block;  


  font-family: $font;
  font-style: normal;
  padding: 0px 15px;
  // font-weight: bold;
  font-size: 26px;
  line-height: 0px;
  text-align: center;
  color: white;
}

.headerColor {
  background-color: #dcdce4;
  color: black;
  height: 50px; 
}

//  #state{
//   position: absolute;
//   // width: 370px;
//   height: 96px;
//   left: 120px;
//   top: 271px;
//   background: $accent;
// }
.Heading{
  font-family: $font;
  font-size: 50px;
}

.links{
  font-family: $font;
  font-size: 20px;
}


// .stateBox {
//   background: #f0f0f1;
//   flex-grow: 4;
// }

.searchBox {
  font-family: $font;
  text-align: center;
  // line-height: -10px;
  padding-top: 5px;
  font-size: 30px;
  // width: 100px;
  // background: $accent;
}

.btn{
  font-family: $font;
  // text-align: center;
  line-height: 1px;
  font-size: 25px;
  border: transparent;
  // background: none;
  background: none;
  border-radius: 10px;
  height: 40px;
  width: 40px;

  &:hover {
    background: rgb(228, 228, 228) !important;
  }
}
.placeholder { 
  font-family: $font;
  // background: #f0f0f1;
  color: $accent;
  // width: 100%;
  flex-grow: 4;
  height: 48px;
  font-style: normal;
  font-size: 20px;
  width: 500px;
  padding: 0px 20px;
  border: none;
  border-radius: 10px;

}

.table {
  font-family: $font;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.th {
  text-align: center;
  border: black;
  color: black;
  font-size: 30px;
}
.th, .td {
  height: 50px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  
}
.hover {
  background-color: #f0f0f1;
}
.nth {
  background-color: #f2f2f2;
}

.icon {
  cursor: pointer;
}

.searchBar {
  display: flex;
  flex-flow: row nowrap;
  width: 590px;
  border: none;

  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
  border-radius: 10px;

}